@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sawarabi+Mincho&family=Space+Mono:ital@1&display=swap');
* {
    margin: 0; 
    padding: 0; 
} 
body{
    background-color: #596D48;
} 
.container{
    width: 70%; 
    border: 1.5px  black; 
    position: absolute;
    top: 5%; 
    left: 20%;
    display: flex; 
    
   
} 
#apartment-image { 
    background-image: url("./images/apartment2"); 
    height: 599px; 
    width: 100%; 
    position: relative;
   
    
} 
#apartment-image h1 { 
    background-color: black; 
    opacity: 0.8;
   
    text-align: center; 
    position: absolute;
    top: 10%; 
    left: 15%; 
    right: 15%;
   
    font-family: 'Sawarabi Mincho', serif; 
    font-size: 35px;  
    font-weight: bolder;
    color: rgb(12, 105, 74);
    
} 
#apartment-image i {
    color: rgb(107, 211, 142);
}  

#title{
    background-color: rgb(32, 35, 80); 
    height: 45px; 
    padding: 56px 7px; 
    color: azure; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px;
} 
#signup-form{
    background-color: rgb(202, 154, 109); 
    height: 73%;
} 
#signup-form h4{
    padding: 2px; 
    font-size: 25px;  
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
} 
form{
    padding: 23px; 
}  
.form-col{ 
    display: flex; 
    flex-flow: row wrap; 
    align-items: center;
} 
.form-col input{
    vertical-align: middle;  
    margin: 5px 20px 15px 0; 
    padding: 7px ; 
    background-color: whitesmoke; 
    border: 1px solid #ddd;

}
#password-block {
    display: flex; 
    flex-direction: column;
} 
#password-block input { 

    vertical-align: middle;  
    margin: 5px 20px 15px 0; 
    padding: 13px ; 
    background-color: whitesmoke; 
    border: 1px solid red; 
    width: 40%;
}  
#password-block span{
    color: red;
}
#signup-button{
    padding: 6px ;
} 
#signup-button button {
    margin-left: 88px; 
    height: 43px; 
    width: 67%; 
    background-color: #596D48; 
    font-size: 18px; 
    text-align: center;
}  
#signup-button p {
   padding: 7px; 
   text-align: center;
}


input:focus{
    border: 1px solid blue;
}

